<h1 class = "container pb-2 text-center py-3">Mostrando Personajes de Harry Potter </h1>


 <div class=" ">
    <div class="row align-items-start text-center">
      <div class="col border rounded-4 bg-secondary ">
          <h4>Name</h4>
      </div>
      <div class="col border rounded-4 bg-secondary ">
        <h4>Location</h4>
      </div>
      <div class="col border rounded-4 bg-secondary ">
        <h4> House</h4>
      </div>
    </div>


  <% @characters.each do |m| %>
      <div class=" text-left">
        <div class="row align-items-start ">
          <div class="col border rounded-4  border-primary " >
             <%= m.name %>
          </div>
          <div class="col border rounded-4  border-primary ">
           
            <%= m.location %>
          </div>
          <div class="col border rounded-4  border-primary  ">
           
            <%= m.house %> 
          </div>
        </div>
      </div>
  <% end%>
</div>